<div class="container">
  <ng-container *ngIf="productsInput$ | async as result" [ngSwitch]="result.datastate">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading.......
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">
        {{result.errorMessage}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table table-primary table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Available</th>
          <th>Selected</th>
        </tr>
        </thead>
        <tbody>
        <app-product-item [product]="p"
                          (eventEmitter)="onActionEvent($event)"
                          *ngFor="let p of result.data" style="display: contents">
        </app-product-item>

        </tbody>
      </table>
    </ng-container>


  </ng-container>
  <div class="container" *ngIf="productsInput$">

  </div>
</div>
