<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProduct()" class="btn  btn-sm btn-outline-info m-lg-1">All</button>
    </li>
    <li>
      <button  (click)="onGetSelectedProduct()" class="btn  btn-sm btn-outline-info m-lg-1">Selected</button>
    </li>
    <li>
      <button (click)="onGetAvailableProduct()" class="btn btn-sm btn-outline-info m-lg-1">Avaiable</button>
    </li>
    <li>
      <button (click)="onNewProduct()" class="btn btn-sm btn-outline-info m-lg-1">New</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav m-lg-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-check-inline">
        <input ngModel  name="keyword" type="text">
        <button class="btn btn-sm btn-outline-info margin_top_btn_search m-lg-2 ">
          <span class="fa fa-search float-right"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>
